body {
    background-color: #373832;
}

button {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 40px;
    background: rgb(231, 138, 138);
    border: 2px solid rgb(231, 138, 138);
    border-radius: 4%;
    color: #ffff;
    font-weight: 400;
}

h2 {
    text-align: center;
    color: #ffff;
}

div {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
}

.circle {
    background: rgb(69, 192, 192);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}